body{
    font-family: sans-serif;
    background-image: url(../images/background_image.jpg);
    margin: 10px;
    background-size: cover;
}
main{
    margin: 15px 200px;
    padding: 20px;
    border: solid black;
    background: white;
    min-height: 500px;
}
header p{
    position: relative;
    top: 10px;
    font-style: italic;
    text-align: center;
}
nav {
    background-color: black;
    padding:5px;
}
nav ul{
    text-align: center;
    font-size: 1.2em;
}
nav ul li{
    list-style-type: none;
    background-color: greenyellow;
    display: inline;
    padding: 15px;
    margin: 5px; 
    margin: 5%;
    
}
nav ul li a{
    color: white;
    text-decoration: none;
    height: 200px;
    background-color: green;
    font-size: 1.3vw;
}
nav ul li:hover{
    background-color: yellow;
}
footer{
    background-color: black;
    padding:5px;
}
footer ul{
    text-align: center;
    font-size: 1.2em;
}
footer ul li{
    list-style-type: none;
    background-color:greenyellow;
    display: inline;
    padding: 15px;
    margin: 5px; 
    border: 2px solid green; 
    margin: 5%;
    border-radius: 10px
}
footer ul li a{
    color: white;
    text-decoration: none;
    height: 200px;
    background-color: green;
    font-size: 1.3vw;
}
footer ul li:hover{
    background-color: yellow;
}

footer{
    text-align: center;
}
.required {
    font-weight: bold;
    color:blue;
}
label{
    float: left;
    width: 112px;
    padding-right: 10px;text-align: right;
}
input{
    margin-left: 1em;
    margin-bottom: .5em;
    width: 220px;
}
input[type="radio"]{
    width: 10px;
}
input[type="checkbox"]{
    width: 15px;
}

#button {
    margin-left: 138px;
}
#button,#reset{
    margin-top: .5em;
    width: 8em;
    background-color: green;
    border: 2px solid blue;
}

#active {
    background-color: green;
}
